/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-page: url(../images/cover-image-light.png);
  --bg-color: rgb(251, 233, 233);
  --accent-color: #353430;
  --corner-color: #353430;
  --card-title: #353430;
  --text-card: #353430;
  --text-color: #ffc2e6;
  --text-shadow: 4px 4px 0 #ff8dcb;
  --display: none;
  --title-color: #ff8dcb;
  --links-shadow: 4px 4px 0 var(--title-color);
  --button-color-hover: #35343066;
  --button-color-focus: #353430;
  --border-light: #353430;
}

@media (prefers-color-scheme: light) {
  .theme-auto {
    --bg-page: url(../images/cover-image-light.png);
    --bg-color: rgb(251, 233, 233);
    --accent-color: #353430;
    --corner-color: #353430;
    --card-title: #353430;
    --text-card: #353430;
    --text-color: #ffc2e6;
    --text-shadow: 4px 4px 0 #ff8dcb;
    --display: none;
    --title-color: #ff8dcb;
    --links-shadow: 4px 4px 0 var(--title-color);
    --button-color-hover: #35343066;
    --button-color-focus: #353430;
    --border-light: #353430;
  }
}
