/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-page: url(../images/cover-image-light.png);
  --bg-color: rgb(251, 233, 233);
  --accent-color: #353430;
  --corner-color: #353430;
  --card-title: #353430;
  --text-card: #353430;
  --text-color: #ffc2e6;
  --text-shadow: 4px 4px 0 #ff8dcb;
  --display: none;
  --title-color: #ff8dcb;
  --border-button-last-ch: none;
  --border-button-first-ch: 1.5px solid var(--accent-color);
  --links-shadow: 3px 2px 0 var(--title-color);
  --button-color-hover: rgba(255, 0, 111, 0.4);
}

.header__theme-menu-item:nth-last-child(1) {
  border: var(--border-button-last-ch);
}

.header__theme-menu-item:nth-child(1) {
  border: var(--border-button-first-ch);
}
