/*----------------------------------------MAIN--------------------------------*/
/*----------------------------------section 1------------------------*/
.cards {
  /*section*/
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 1;
    gap: 20px;
}

.cards__title {
  /*h3*/
  color: var(--card-title);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  }

.why-title {
  margin-block-start: 40px;
}

.card {
  /*article*/
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 1;
}

.card__subtitle {
   font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}

.title-decor {
}

.card__content-text {
  margin: 0 0 20px 0;
  padding-bottom: 0px;
  color: var(--text-card);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size);
  padding-block-start: 10px;
  line-height: 23.4px;
 }

/*----------------------------section 3 про 5 чего-то там----------------*/
.five-easy .card__content-text {
  /* для оcновного текста*/
  padding: 0;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 22px;
}

.five-easy {
  /* для секции целиком*/
  margin-top: 32px;
}

.five-easy .edvice {
  margin-bottom: 20px; /* для разделения двух названий*/
}

/*------------------------------------------lincs text--------------*/

.links-into-text {
  text-shadow: var(--links-shadow);
  text-decoration: none;
}

.links-into-text:focus-visible {
  border: none;
  outline: 1px solid var(--text-card);
}

.links-into-text:hover {
  border-bottom: 1.5px solid currentColor; /*подчеркивание цветом текста*/
}

.section-reduces {
    padding-block-start: 29px;
}

.image__subtitle {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  margin-block-start: 28px;
  margin-block-end: 11px;
}

.grid-images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, minmax(0, auto));
  gap: 10px;
}

.image {
  max-width: 100%;
  height: auto; /* для пропорции */
  display: block; /*лишние отступы убирает*/
}

/*-----------------------------------------------FOOTER---------------------------*/
.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-block-start: 40px;
  min-height: 100vh;
}

.footer-text {
  font-weight: var(--font-weight-bold);
  font-size: 116px;
  justify-self: center;
  align-self: center;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

footer.decorated-zone::after {
  bottom: 13px;
}

/*--------------------------------------------MEDIA 768x1024----------------------------*/
@media (width >= 768px) {
  .page {
    padding-inline-start: 25px;
    padding-inline-end: 16px;
  }

  .header {
    min-height: 1024px;
  }

  .header__rec {
    top: 20px;
    left: 2px;
  }

  .decorated-zone::before {
    /* Первый угол*/
    top: 20px;
  }

  .decorated-zone::after {
    /* Второй угол */
    bottom: 20px;
  }

  .header__theme-menu {
    margin-top: 188px;
  }

  .header__theme-menu-list {
    gap: 11px;
  }

  .header__logo {
    margin-left: -20px;
    margin-top: 13px;
    font-size: var(--font-size-desktop);
  }

  .header__text {
    justify-self: end;
    inline-size: 364px;
    margin-block-end: 185px;
  }

  /*----------------------------------------MAIN MEDIA--------------------------------*/

                             /* Для первой секции */
  .section-why {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .section-why .cards__title {
    grid-column: 1;
    align-self: start;
  }

  .cards {
    margin-block-start: 60px;
  }

  .why-title {
    margin-block-start: 0px;
  }

                                /* Для второй секции */
  .section-reduces {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-block-start: 0px;
  }

  .section-reduces .cards__title {
    grid-column: 1;
    grid-row: 1;
  }

  .section-reduces .cards__column {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

                                    /* Для третьей секции */
 
.five-easy {
  /* для секции целиком*/
  margin-top: 0px;
  grid-template-columns: 1fr 2fr;
  padding-block-start: 61px;
  }

  .five-easy .cards__title {
    grid-column: 1;
    align-self: start;
  }

  .five-easy .cards__column {
    grid-column: 2;
  }


                                     /*для 4 секции*/
  .section-images {
    padding-block-start: 31px;
    gap: 20px;
  }

  .grid-img-title {
    margin-block-end: 20px;
  }
  
  .grid-images {
        grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    /* min-height: 100vh; */
    max-height: 768px;
    /* max-width: 100vw; */
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-sunset {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .image-ice-cream {
    grid-column: 3;
    grid-row: 1 / span 2;
    justify-self: stretch;
    align-self: stretch;
  }

  .image-tape {
    grid-row: 2 / span 2;
    grid-column: 1;
    justify-self: stretch;
    align-self: stretch;
  }

  .image-books {
    grid-row: 2;
    grid-column: 2;
  }

  .image-street {
    grid-row: 3;
    grid-column: 2 / span 2;
  }

  .footer {
    min-height: 1024px;
    margin-block-start: 72px;
    letter-spacing: 2px;
  }

  footer.decorated-zone::after {
    bottom: 20px;
  }
}

/*----------------------------------------------------MEDIA 1024×768------------*/ 
@media (width >= 1024px) { 
  .page { 
    padding-inline-start: 20px; 
    padding-inline-end: 22px; 
  } 
 
  .header { 
    min-height: 768px; 
  } 
 
  .header__theme-menu { 
    justify-self: center; 
       margin-block-start: 18px; 
  } 
 
  .header__theme-menu-list { 
    flex-direction: row; 
    /* gap: 10px;  */
  } 
 
  .header__rec {
   top: 20px;
  right: 0px;
  display: var(--display);
}

  .header__logo { 
    margin-block-start: 160px; 
       font-size: var(--font-size-desktop); /*похоже не работает*/
  } 
 
  .header__text { 
    justify-self: end; 
    inline-size: 490px; 
    margin-block-end: 135px; 
  } 
                            /* Для первой секции */
  .section-why { 
    gap: 10px; 
  } 
 
                         /* Для второй секции */ 
    .section-reduces {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto;
    gap: 20px; 
    align-items: start;
    padding-block-start: 0px;
      }

  .section-reduces .cards__title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1;
    grid-row: 1;
      }

  .section-reduces .cards__column {
   grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: min-content;
    align-items: start;
  }
 
                             /* Для третьей секции */ 
  .five-easy { 
    gap: 10px; 
  } 
 
  /*для 4 секции*/ 
  .section-images { 
    padding-block-start: 30px; 
  } 
 
  .grid-images { 
        grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px; 
      min-height: 1024px; 
  } 
 
  .footer { 
    min-height: 768px; 
    margin-block-start: 84px; 
    letter-spacing: 0px; 
  } 
 
  .footer-text { 
    font-size: 157px; 
  } 
} 