/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: rgba(0, 0, 40, 1);
  background-image: var(--bg-page);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Фиксация (при скролле)*/
  overflow-x: hidden; /* Скрываем горизонтальный скролл */
  padding-inline-start: 10px; /* Отступ от краев */
  padding-inline-end: 10px;
}

/*------------------------------------HEADER--------------------------------*/
.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center; /* Центрируем контент вертикально */
  grid-template-rows: auto 1fr auto; /* 1. Меню 2. Лого 3. Текст */
}

.decorated-zone {
  color: var(--accent-color);
}

.decorated-zone::before {
  /* Первый угол через ::before */
  content: "";
  position: absolute;
  top: 8px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-block-start: 1.5px solid var(--accent-color);
  border-inline-end: 1.5px solid var(--accent-color);
}

.decorated-zone::after {
  /* Второй угол через ::after */
  content: "";
  position: absolute;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-block-end: 1.5px solid var(--accent-color);
  border-inline-start: 1.5px solid var(--accent-color);
}

.header__rec {
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color);
  justify-self: end;
  font-family: var(--font);
  font-size: var(--font-size);
  top: 10px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/ellipse-decoration.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
  vertical-align: middle; /* расположение совпадает с родителем */
}

.header__theme-menu {
  justify-self: end;
  grid-row-start: 1;
  grid-row: 1; /* Явно указываем строку */
  margin-top: 73px; /* Добавлено вместо padding */
}

.header__theme-menu-list {
}

.header__theme-menu-item:nth-last-child(1) {
  border: 1px solid var(--accent-color);
  margin-block-end: 0;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  font-size: var(--font-size);
  border: none;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button_type_light {
  margin-block-end: 10px;
}

.header__theme-menu-button_active {
}

.header__theme-menu-button_type_auto {
  margin-block-end: 10px;
}

.header__theme-menu-button_type_dark {
}

.header__logo {
  grid-row: 2; /* Вторая строка */
  justify-self: start; /* Лого слева */
  align-self: center; /* Центрируем по вертикали */
  font-size: clamp(
    7.25rem,
    7.0115rem + 1.0178vw,
    7.5rem
  ); /* Адаптивный размер */
  line-height: 82.5%;
  color: var(--text-color);
  margin-top: 15px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  margin-block-end: 66px;
  grid-row: 3; /* Третья строка */
  align-self: end; /* Прижимаем к низу */
  justify-self: end; /* Прижимаем к правому краю */
  background-color: var(--accent-color);
  color: var(--text-black);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}

.title-decor {
  background-color: var(--accent-color);
  color: black;
}

/*----------------------------------------MAIN--------------------------------*/

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 1fr);
  /* margin-inline-start: 10px;
  margin-inline-end: 10px; */
}

.cards-grid {
  /*section*/
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 1;
  padding-block-start: 39px;
}

.card__title {
  /*h3*/
  color: var(--accent-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  padding-block-end: 20px;
}

.right-column {
}

.card {
  /*article*/
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 1;
}

.why-cadr {
}

.card__subtitle {
  /*p*/
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}

.title-decor {
}

.card__content {
  /*div p*/
  color: var(--text-card);
  font-weight: var(--font-weight-regular);
  padding-block-start: 10px;
  padding-block-end: 19px;
  line-height: 1.47;
  letter-spacing: 1.2px;
}

.why-text {
}

.links-into-text {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.links-into-text:focus-visible {
  border: 1px solid var(--text-card);
}

.links-into-text:hover {
  text-decoration: underline;
}

.shadow {
  text-decoration: none;
}

.section-attantion {
  padding-block-start: 29px;
}

.five-easy {
  padding-block-start: 29px;
}

.edvice {
  margin-block-end: 20px;
}

.edvice-subtitle {
  font-weight: var(--font-weight-regular);
}

.image__subtitle {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  margin-block-start: 28px;
  margin-block-end: 11px;
}

.grid-img-title {
}

.grid-images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, minmax(0, auto));
  gap: 10px;

  .image {
    max-width: 100%; /* Картинка не будет шире контейнера */
    height: auto; /* Сохраняем пропорции */
    display: block; /* Убираем лишние отступы */
  }
}

/*-----------------------------------------------FOOTER---------------------------*/
.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-block-start: 40px;
  height: 100vh;
  min-height: 668px;
}

.footer-text {
  font-weight: var(--font-weight-bold);
  font-size: 116px;
  justify-self: center;
  align-self: center;
  color: var(--text-color);
  text-shadow: 3px 3px 0 var(--accent-color);
}

footer.decorated-zone::after {
  bottom: 13px;
}
/*--------------------------------------------media----------------------------*/

@media (width >= 768px) {
  .header__rec {
    top: 20px;
    right: 18px;
  }

  .header {
    height: 100vh;
    min-height: 1024px;
  }

  .decorated-zone::before {
    /* Первый угол через ::before */
    top: 20px;
    right: 19px;
  }

  .decorated-zone::after {
    /* Второй угол через ::after */
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-block-end: 1px solid var(--accent-color);
    border-inline-start: 1px solid var(--accent-color);
  }

  .header__theme-menu {
    padding-inline-end: 2.2vw;
    padding-block-start: 30vh;
  }

  .header__logo {
    padding-block-start: 17%;
    padding-inline-start: 4px;
    letter-spacing: 0px;
  }

  .header__text {
    margin-inline-start: 390px;
    margin-inline-end: 18px;
    margin-block-start: 190px;
    margin-block-end: 13px;
  }

  .content {
    margin-inline-start: 23px;
    margin-inline-end: 23px;
  }

  /* Для первой секции */
  .section-why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    /* margin-inline-start: 20px; */
  }

  .section-why .why-title {
    grid-column: 1;
    align-self: start;
  }

  .section-why .right-column {
    grid-column: 2;
  }

  /* Для третьей секции */
  .five-easy {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .five-easy .card__title {
    grid-column: 1;
    align-self: start;
  }

  .five-easy .right-column {
    grid-column: 2;
  }

  /*для 4 секции*/
  .grid-img-title {
    margin-block-end: 20px;
  }
  .grid-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* text-align: center; */
    gap: 20px;
    height: 100vh;
    max-width: 100%;
    /* place-items: center; */
    /* grid-template-areas:
    "sunset sunset icecream"
    "tape books icecream"
    "tape street street"; */
  }

  .image-sunset {
    grid-column: 1 / span 2;
    grid-row: 1;
    /* grid-area: sunset; */
  }

  .image-ice-cream {
    grid-column: 3;
    grid-row: 1 / span 2;
    /* grid-area: icecream; */
    /* object-fit: fill; */
    /* width: 100%;
    height: 100%; */
    justify-self: stretch;
    align-self: stretch;
  }

  .image-tape {
    grid-row: 2 / span 2;
    grid-column: 1;
    /* grid-area: tape; */
    /* width: 100%;
    height: 100%; */
    justify-self: stretch;
    align-self: stretch;
  }

  .image-books {
    grid-row: 2;
    grid-column: 2;
    /* grid-area: books;  */
  }

  .image-street {
    grid-row: 3;
    grid-column: 2 / span 2;
    /* grid-area: street; */
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block;
overflow: hidden; */
  }

  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
}
