/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  grid-template-rows: auto 1fr auto; /* header  main  footer */
  min-height: 100vh;
  background-color: var(--bg-color);
  background-image: var(--bg-page);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /*фиксация (при скролле)*/
  overflow-x: hidden;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

/*------------------------------------HEADER--------------------------------*/
.header {
  position: relative;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  grid-template-rows: auto 1fr auto; /* Меню  Лого Текст */
}

.decorated-zone {
  color: var(--accent-color);
}

.decorated-zone::before {
  /* Первый угол */
  content: "";
  position: absolute;
  top: 8px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-block-start: 1.5px solid var(--corner-color);
  border-inline-end: 1.5px solid var(--corner-color);
}

.decorated-zone::after {
  /* Второй угол */
  content: "";
  position: absolute;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-block-end: 1.5px solid var(--corner-color);
  border-inline-start: 1.5px solid var(--corner-color);
}

.header__rec {
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color);
  justify-self: end;
  font-family: var(--font);
  font-size: var(--font-size);
  top: 10px;
  display: var(--display);
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/ellipse-decoration.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
  vertical-align: middle; /* расположение совпадает с родителем */
}

.header__theme-menu {
  justify-self: end;
  grid-row-start: 1;
  grid-row: 1;
  margin-top: 73px;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-button {
  inline-size: 68px;
  block-size: 10px;
  padding: 0px;
  margin: 0px;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  font-size: var(--font-size);
  border: none;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  inline-size: 70px;
  block-size: 26px;
  border: 1px solid var(--button-color-hover);
}

.header__theme-menu-button_type_dark:focus-visible,
.header__theme-menu-button_type_light:focus-visible,
.header__theme-menu-button_type_auto:focus-visible {
  border: none;
  box-shadow: 0 1px 0 0 var(--button-color-hover); /* тень снизу */
  outline: none;
  inline-size: 70px;
  block-size: 26px;
}

.header__logo {
  grid-row: 2;
  justify-self: start;
  align-self: center;
  font-size: var(--font-size-mobile);
  line-height: 82.5%;
  color: var(--text-color);
  margin-top: 15px;
  text-shadow: var(--text-shadow);
  font-weight: var(--font-weight-bold);
}

.header__text {
  margin-block-end: 66px;
  grid-row: 3;
  align-self: end;
  justify-self: end;
  background-color: var(--accent-color);
  color: var(--text-black);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}

.title-decor {
  background-color: var(--title-color);
  color: black;
}

/*----------------------------------------MAIN--------------------------------*/
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 1fr);
}

.cards-grid {
  /*section*/
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 1;
  padding-block-start: 39px;
}

.card__title {
  /*h3*/
  color: var(--card-title);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  padding-block-end: 20px;
}

.card {
  /*article*/
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 1;
}

.card__subtitle {
  /*p*/
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}

.card__content {
  /*div p*/
  color: var(--text-card);
  font-weight: var(--font-weight-regular);
  padding-block-start: 10px;
  padding-block-end: 19px;
  line-height: 1.47;
  letter-spacing: 1.2px;
}

.links-into-text {
  text-shadow: var(--links-shadow);
  text-decoration: none;
}

.links-into-text:focus-visible {
  border: none;
  outline: 1px solid var(--text-card);
}

.links-into-text:hover {
  border-bottom: 1.5px solid currentColor; /*подчеркивание цветом текста*/
}

.section-attantion {
  padding-block-start: 29px;
}

.five-easy {
  padding-block-start: 29px;
}

.edvice {
  margin-block-end: 20px;
}

.edvice-subtitle {
  font-weight: var(--font-weight-regular);
}

.image__subtitle {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  margin-block-start: 28px;
  margin-block-end: 11px;
}

.grid-images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, minmax(0, auto));
  gap: 10px;
}

.image {
  max-width: 100%;
  height: auto; /* для пропорции */
  display: block; /*лишние отступы убирает*/
}

/*-----------------------------------------------FOOTER---------------------------*/
.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-block-start: 40px;
  min-height: 668px;
}

.footer-text {
  font-weight: var(--font-weight-bold);
  font-size: 116px;
  justify-self: center;
  align-self: center;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

footer.decorated-zone::after {
  bottom: 13px;
}

/*--------------------------------------------MEDIA 768x1024----------------------------*/
@media (width >= 768px) {
  .page {
    padding-inline-start: 25px;
    padding-inline-end: 16px;
  }

  .header {
    min-height: 1024px;
  }

  .header__rec {
    top: 20px;
  }

  .decorated-zone::before {
    /* Первый угол*/
    top: 20px;
  }

  .decorated-zone::after {
    /* Второй угол */
    bottom: 20px;
  }

  .header__theme-menu {
    margin-top: 188px;
  }

  .header__theme-menu-list {
    gap: 11px;
  }

  .header__logo {
    margin-left: -20px;
    font-size: var(--font-size-desktop);
  }

  .header__text {
    justify-self: end;
    inline-size: 364px;
    margin-block-end: 185px;
  }

  /*----------------------------------------MAIN MEDIA--------------------------------*/
  .content {
    margin-block-start: 20px;
    margin-block-end: 0px;
  }

  /* Для первой секции */
  .section-why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section-why .why-title {
    grid-column: 1;
    align-self: start;
  }

  .section-why .right-column {
    grid-column: 2;
  }

  /* Для второй секции */
  .section-attantion {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-block-start: 61px;
  }

  .attantion-title {
    grid-column: 1;
    padding-inline-end: 10px;
  }

  .right-column-section-attantion {
    grid-column: 1 / span 2;
  }

  /* Для третьей секции */
  .five-easy {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-block-start: 61px;
  }

  .five-easy .card__title {
    grid-column: 1;
    align-self: start;
  }

  .five-easy .right-column {
    grid-column: 2;
  }

  /*для 4 секции*/
  .section-images {
    padding-block-start: 31px;
    gap: 20px;
  }

  .grid-img-title {
    margin-block-end: 20px;
  }
  .grid-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    height: 100vh;
    max-height: 768px;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-sunset {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .image-ice-cream {
    grid-column: 3;
    grid-row: 1 / span 2;
    justify-self: stretch;
    align-self: stretch;
  }

  .image-tape {
    grid-row: 2 / span 2;
    grid-column: 1;
    justify-self: stretch;
    align-self: stretch;
  }

  .image-books {
    grid-row: 2;
    grid-column: 2;
  }

  .image-street {
    grid-row: 3;
    grid-column: 2 / span 2;
  }

  .footer {
    min-height: 1024px;
    margin-block-start: 72px;
    letter-spacing: 2px;
  }

  footer.decorated-zone::after {
    bottom: 20px;
  }
}

/*----------------------------------------------------MEDIA 1024×768------------*/
@media (width >= 1024px) {
  .page {
    padding-inline-start: 20px;
    padding-inline-end: 22px;
  }

  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    grid-row-start: 1;
    grid-row: 1;
    margin-block-start: 18px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__logo {
    margin-block-start: 160px;
    margin-inline-start: -20px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-desktop);
  }

  .header__text {
    justify-self: end;
    inline-size: 490px;
    margin-block-end: 135px;
  }

  .section-why {
    gap: 10px;
  }

  /* Для второй секции */
  .right-column-section-attantion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-auto-rows: min-content;
    align-items: start;
  }

  .attantion-title {
    grid-column: 1;
    padding-inline-end: 10px;
  }

  .attantion-more-goals {
    grid-column: 1;
    grid-row: 2;
  }

  .attantion-eat {
    grid-column: 2;
    grid-row: 2;
  }

  .attantion-gatjets {
    grid-column: 3;
    grid-row: 2;
  }

  .card__title {
    padding-block-end: 0;
  }

  /* Для третьей секции */
  .five-easy {
    padding-block-start: 59px;
    gap: 10px;
  }

  /*для 4 секции*/
  .section-images {
    padding-block-start: 33px;
  }

  .grid-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    height: 100vh;
    min-height: 1024px;
  }

  .footer {
    min-height: 768px;
    margin-block-start: 84px;
    letter-spacing: 0px;
  }

  footer.decorated-zone::after {
    bottom: 20px;
  }

  .footer-text {
    font-size: 157px;
  }
}
