/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  grid-template-rows: auto 1fr auto; /* header  main  footer */
  min-height: 100vh;
  background-color: var(--bg-color);
  background-image: var(--bg-page);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /*фиксация (при скролле)*/
  overflow-x: hidden;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

/*------------------------------------HEADER--------------------------------*/
.header {
  position: relative;
  /* min-height: 668px; */
 min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  grid-template-rows: auto 1fr auto; /* Меню  Лого Текст */
}

.decorated-zone {
  color: var(--accent-color);
}

.decorated-zone::before {
  /* Первый угол */
  content: "";
  position: absolute;
  top: 10px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-block-start: 1.5px solid var(--corner-color);
  border-inline-end: 1.5px solid var(--corner-color);
}

.decorated-zone::after {
  /* Второй угол */
  content: "";
  position: absolute;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-block-end: 1.5px solid var(--corner-color);
  border-inline-start: 1.5px solid var(--corner-color);
}

.header__rec {
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color);
  justify-self: end;
  font-family: var(--font);
  font-size: var(--font-size);
  top: 10px;
  display: var(--display);
}

.header__rec::after {
  /*красная точка после REC*/
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/ellipse-decoration.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: middle; /* расположение совпадает с родителем */
}

.header__theme-menu {
  justify-self: end;
  grid-row-start: 1;
  grid-row: 1;
  margin-top: 73px;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-button {
  inline-size: 68px;
  block-size: 10px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  text-transform: lowercase;
  font-size: var(--font-size);
  border: none;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  inline-size: 70px;
  block-size: 26px;
  border: 1px solid var(--button-color-hover);
}

.header__theme-menu-button_type_dark:focus-visible,
.header__theme-menu-button_type_light:focus-visible,
.header__theme-menu-button_type_auto:focus-visible {
  border: none;
  box-shadow: 0 1px 0 0 var(--button-color-hover); /* тень снизу */
  outline: none;
  inline-size: 70px;
  block-size: 26px;
}

.header__logo {
  grid-row: 2;
  justify-self: start;
  align-self: center;
  font-size: var(--font-size-mobile);
  line-height: 82.5%;
  color: var(--text-color);
  margin-top: 5px;
  text-shadow: var(--text-shadow);
  font-weight: var(--font-weight-bold);
}

.header__text {
  margin-block-end: 65px;
  grid-row: 3;
  align-self: end;
  justify-self: end;
  background-color: var(--accent-color);
  color: var(--text-black);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}

.title-decor {
  background-color: var(--title-color);
  color: black;
}
